{
  "extends": "airbnb/legacy",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "func-names": ["error", "never"],
    "indent": ["error", 4],
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-labels": ["error", { "allowLoop": true }]
  },
  "globals": {
    "angular": true,
    "_": true,
    "$": true,
    "jQuery": true,
    "Tether": true,
    "EventEmitter": true,
    "ducktype": true,
    "cardValidator": true
  }

}
