header.tm-header.tm-navigation
    ul.tm-navigation__list
        li
            a(href="", ui-sref='app.events', ui-sref-active="active-link") Events
        li
            a(href="", ui-sref='app.time', ui-sref-active="active-link") Clock
        li
            a(href="", ui-sref='app.diary', ui-sref-active="active-link") Diary

