.ngdialog-close  {
  background: none;
  border: none;
  outline: none;
}

.ngdialog {
  &.ngdialog-theme-default {
    .ngdialog-content {
      border-radius: 0px;
    }
  }
}
.tm-modal {
  padding: 10px;
  .tm-modal-content {
    padding: 20px 0;
  }
}
.tm-event {
  &__label {
    flex: 0 0 200px;
  }
}